#expenses-div, #trips-div, #incomes-div {
    font-weight: 900;
    position: absolute;
    right: 1.5rem;
    z-index: 101;
    width: 76%;
    height: 120%;
    background-color: rgb(196, 196, 196);
    padding: 2rem 1rem 2rem 1rem;
    display: none;
    transform: translateX(2rem);
}

#trips {
    border-collapse: collapse;
    width: 100%;
}

#trips-div-header, #incomes-div-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(187, 187, 187);
}

#expenses-div h2, #trips-div-header h2, #incomes-div-header h2 {
    margin: 0;
    padding: 0;
}

#expenses-div th, #trips-div th, #incomes-div th {
    background-color: rgb(88, 88, 88);
}

#expenses td, th, #trips td, th, #incomes td, th{
    height: 3rem;
    text-align: left;
    padding: 1rem;
}

#expenses-div #expenses-div-header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(187, 187, 187);
}

#expenses-div-header button {
    height: 2rem;
    border: 0;
    border-radius: 5px;
    background-color: #dddddd;
}

#expenses, #incomes {
    width: 100%;
    border-collapse: collapse;
}

#expenses tr:nth-child(even), #trips tr:nth-child(even) {
    background-color: #dddddd;
}

#incomes-div-header button,
#trips-div-header button,
#expenses-div-header button {
    cursor: pointer;
    font-weight: 900;
    border: 0;
    border-radius: 5px;
}